[submodule "libraries/humla"]
	path = libraries/humla
	url = https://github.com/awatchar/minimum.git
	branch = humla-minimum
[submodule "humla"]
	path = humla
	url = https://github.com/awatchar/minimum.git
